---
const { event } = Astro.props;

const date = new Date(event.dia);
const day = date.getDate();
const month = date.toLocaleDateString("es-AR", { month: "long" });
---

<div
    class="relative h-full text-white rounded-[8px_8px_76px_8px] overflow-hidden border-1 border-[#4d4d4d]"
>
    <img
        src={event.imagen.url}
        alt={event.imagen.alt}
        class="absolute inset-0 w-full h-full object-cover z-0"
    />

    <div
        class="absolute inset-0 z-10"
        style="background: 
        linear-gradient(322deg,rgba(255,20, 20, 1) 0%, rgba(0, 0, 0, 0.45) 35%, rgba(255, 255, 255, 0) 100%)"
    >
    </div>

    <div class="relative z-20 h-full flex flex-col justify-end p-6">
        <div class="flex justify-between items-end w-full">
            <div class="text-left max-w-[60%]">
                <h3 class="text-xl md:text-3xl font-bold leading-tight">
                    {event.nombre}
                </h3>
            </div>
            <div class="flex flex-col text-right justify-end h-full">
                <p
                    class="font-medium capitalize font-inter tracking-wider text-xl md:text-3xl"
                >
                    {month}
                </p>
                <p
                    class="text-6xl md:text-9xl font-extrabold font-inter tracking-tight"
                >
                    {day}
                </p>
            </div>
        </div>
    </div>
</div>
