---
import { fetchDestacadas } from "@/utils/fetchDestacadas";
import Container from "./containers/Container.astro";
import Title from "./Title.astro";

const destacadas = await fetchDestacadas();
---

<Container>
  <Title
    title="Conocé más"
    subtitle="Te invitamos a conocer más sobre nosotros, nuestros programas y todo lo que hacemos."
    imageUrl="/sections-icons/destacadas-icon.webp"
    className="mt-10"
    link="/conocenos"
    verTodasTexto="todas"
  />
  <section class="grid grid-cols-2 lg:grid-cols-4 gap-6 my-10 min-h-[200px]">
    {
      destacadas.slice(0, 8).map((d) =>
        d.link ? (
          <a
            href={d.link}
            target="_blank"
            rel="noopener noreferrer"
            class="flex flex-col group transition-transform duration-150"
          >
            <div class="w-full aspect-square overflow-hidden rounded-lg">
              <img
                src={d.image.url}
                alt={d.image.alt}
                class="w-full h-full object-cover rounded-sm group-hover:scale-101 transition-transform duration-300"
              />
            </div>
            <span class="font-ibm text-white font-medium uppercase mt-2 group-hover:font-semibold transitions-all duration-300">
              {d.title}
            </span>
          </a>
        ) : (
          <div class="flex flex-col group transition-transform duration-150">
            <div class="w-full aspect-square overflow-hidden rounded-lg">
              <img
                src={d.image.url}
                alt={d.image.alt}
                class="w-full h-full object-cover rounded-sm group-hover:scale-101 transition-transform duration-300"
              />
            </div>
            <p class="font-ibm text-white font-medium uppercase mt-2 group-hover:font-semibold transitions-all duration-300">
              {d.title}
            </p>
          </div>
        )
      )
    }
  </section>
</Container>
