---
import { fetchPlaylists } from "@/utils/fetchPlaylists";
import Container from "./containers/Container.astro";
import SpotifyCard from "./spotify/SpotifyCard.astro";
import Title from "./Title.astro";

const playlists = await fetchPlaylists();
---

<Container class="my-20 w-full">
  <Title
    title="Sigamos en Spotify"
    subtitle="Playlists hechas para cada momento. ¡Dale play y disfrutá!"
    imageUrl="/sections-icons/spotify-icon.webp"
  />

  <div class="grid grid-cols-2 justify-between mt-16 gap-4 md:gap-6">
    <div class="col-span-2 md:col-span-1">
      <SpotifyCard
        imageUrl={playlists[0].imagen.url}
        title={playlists[0].nombre}
        link={playlists[0].link}
      />
    </div>

    <div class="col-span-2 grid grid-cols-2 gap-4 md:col-span-1 md:grid-rows-2">
      {
        playlists
          .slice(1)
          .map((pl) => (
            <SpotifyCard
              imageUrl={pl.imagen.url}
              title={pl.nombre}
              link={pl.link}
            />
          ))
      }
    </div>
  </div>
</Container>
