---
import Navbar from "@/components/navbar/Navbar";
import "../assets/base.css";
import Footer from "@/components/Footer.astro";
import SplashVideo from "@/components/SplashVideo";
import { SITE } from "@/config/seo";
import Seo from "@/components/Seo.astro";

export const revalidate = 21600;
Astro.response.headers.set(
  "Cache-Control",
  "public, max-age=300, stale-while-revalidate=3600"
);

interface Props {
  title?: string;
  description?: string;
  image?: string;
  keywords?: string[];
  pathname?: string;
  type?: "website" | "article";
  date?: string;
  author?: string;
}

const {
  title,
  description,
  image,
  keywords,
  pathname,
  type = "website",
  date,
  author,
} = Astro.props as Props;

const canonical = pathname ? new URL(pathname, SITE.url).href : SITE.url;
---

<!doctype html>
<html lang="es" style="height: auto;">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon/favicon.ico" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#0a0a0a" />
    <Seo
      title={title}
      description={description}
      image={image}
      keywords={keywords}
      pathname={pathname}
      type={type}
      date={date}
      author={author}
    />
    <link rel="canonical" href={canonical} />
  </head>
  <body class="bg-negro-900">
    <SplashVideo client:load />
    <Navbar client:only="react" />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
