---
import Container from "../containers/Container.astro";
import HeaderRRSS from "./HeaderRRSS.astro";
import InstagramCarousel from "./InstagramCarousel";
import TiktokCarousel from "./TiktokCarousel";

const instagramData = {
    socialLink: "https://www.instagram.com/bravaoficial/",
    socialName: "Fm BRAVA 94.9",
    socialHandle: "@bravaoficial",
    socialImageUrl: "/images/instagram-logo.jpg",
    socialBrandImageUrl: "/images/instagram.svg",
}

const tiktokData = {
    socialLink: "https://www.tiktok.com/@bravaoficial",
    socialName: "Brava",    
    socialHandle: "@bravaoficial",
    socialImageUrl: "/images/tiktok-logo.jpeg",
    socialBrandImageUrl: "/images/tiktok.svg",
}

---
<Container>
    <section class="my-12">
        <HeaderRRSS socialHandle={instagramData.socialHandle} socialLink={instagramData.socialLink} socialName={instagramData.socialName} socialImageUrl={instagramData.socialImageUrl} socialBrandImageUrl={instagramData.socialBrandImageUrl} />
        <InstagramCarousel client:load/>
    </section>
    <section class="my-20">
        <HeaderRRSS socialHandle={tiktokData.socialHandle} socialLink={tiktokData.socialLink} socialName={tiktokData.socialName} socialImageUrl={tiktokData.socialImageUrl} socialBrandImageUrl={tiktokData.socialBrandImageUrl} />
        <TiktokCarousel client:load/>
    </section>
</Container>